<p>Olá <%= @resource.email %>!</p>

<p>Alguém solicitou um link para alterar sua senha. Você pode fazer isso pelo link abaixo:</p>

<p>
  <%= link_to 'Alterar minha senha',
    edit_password_url(
      @resource,
      reset_password_token: @token,
      host: "localhost",
      port: 3000
    ) %>
</p>

<p>Se você não solicitou isso, pode ignorar este e-mail.</p>

<p>Sua senha não será alterada até que você acesse o link acima e defina uma nova senha.</p>
